<div
  class="sidebar{{ with .Site.Params.doNotLoadAnimations }}
    .

  {{ else }}
    animated fadeInDown

  {{ end }}"
>
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img
        class="sidebar__introduction-profileimage"
        src="{{ .Site.Params.author.avatar | relURL }}"
        alt="profile picture"
      />
      {{ if .IsHome }}
        <h1 class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>
        </h1>

      {{ else }}
        <div class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>
        </div>

      {{ end }}
      <div class="sidebar__introduction-description">
        <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p>
      </div>
    </div>
    {{ $mb := "microblog" }}<!---->
    {{ $lkd := "linkedin" }}<!---->
    {{ $mstdn := "mastodon" }}<!---->
    {{ with $.Scratch.Get "social-list" }}
      <ul class="sidebar__list">
        {{ range . }}
          {{ $social_value := site.Params.Get . }}
          {{if ne $social_value "" }}
          <li class="sidebar__list-item">
            <a
              rel="me"
              {{if eq . $mstdn }}
                href="{{ $social_value }}"
              {{ else }}
                href="https://{{ if eq . $mb }}micro.blog{{else}}{{ . }}.com{{ if eq . $lkd }}/in{{end}}{{end}}/{{ $social_value }}"
              {{ end }}
              target="_blank"
              aria-label="{{ . }}"
              title="{{ . }}"
            >
              <i class="fab fa-{{ . }} fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          {{ end }}

        {{ end }}
      </ul>
    {{end}}
  </div>
  {{- partial "footer.html" (dict "context" . "footerClassModifier" "sidebar") -}}
</div>
